@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

table tbody tr:nth-child(2n + 1) {
  background-color: white;
}

.active-menu {
  left: 0;
}

.active-logo-btn {
  color: white;
}

.menu-animation {
  transition: 700ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.color-animation {
  transition: 450ms color ease-in-out;
}

.inputs-border {
  border: solid 1px #c8c8c8;
}

#flash_message {
  animation-name: example;
  animation-duration: 4s;
}

#popup {
  position: fixed;
  top: 0;
  z-index: 11;
  left: 0;
  right: 0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  animation: popup 5s ease-in-out forwards;

}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}